@import "./value";



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $work-sans;
}

body {
    background-image: url(/img/main-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    
    .nav-bar{
        @include row;
        background-color: $color-primary;
        justify-content: space-between;
        padding: 0.5rem;
        img{
            width: 15vw;
            height: auto;
        }
        .main-nav{
            @include row;
            list-style: none;
            align-items: center;
            li{
                padding-right: 1rem;
            }
            a{
                color: $color-white;
                text-decoration: none;
                &:hover{
                    color: $color-blue;
                }
            }
        }
    }
    
    #nav-search{
        width: 100%;
        position: absolute;
        top: -5px;
        
        input{
            border: 0;
            width: 20rem;
            height: 3rem;
            padding: 1rem;
        }
        button{
            height: 3rem;
            width: 5rem;
            border: 0;
            background-color: $color-blue;
            color: $color-white;
            margin-right: 3rem;
            &:hover{
                color: $color-primary;
            }
        }

        
    }

    .main{
        padding: 2rem 0 8rem 0;
        .main-content{
            @include column;
            align-items: center;
            padding-top: 10vh;
            padding-left: 70vw;
            img{
                width: 14rem;
                height: auto;
            }
            h1{
                color: $color-white;
                font-size: 1.3rem;
                font-weight: 300;
                padding-bottom: 1rem;
            }
            .shop-btn{
                width: 12rem;
                padding: 0.8rem;
                font-size: 1rem;
                border: 0px solid;
                color: $color-white;
                background-color: $color-primary;
                &:hover{
                    background-color: $color-primary-deep;
                }
            }
        }

    }

    footer{
        background-color: $color-blue;
        p{
            padding: 1rem;
            color: $color-white;
            font-weight: 100;
            letter-spacing: 0.1rem;
        }
        .nav-bar{
            background-color: $color-blue;
        }
        .main-nav2{
            @include row;
            list-style: none;
            align-items: center;
            li{
                padding-right: 1rem;
            }
            a{
                text-decoration: none;
                color: $color-white;
                &:hover{
                    color: $color-primary;
                }
            }

        }
    }
}

