@import "./value";

.shop-page{
    padding-top: 3rem;
    .shop-content{
        padding: 2rem;
        .shop-product{
            @include row;
            flex-wrap: wrap;
            input{
                width: 4rem;
                margin-top: -4rem;
                padding: 0.5rem;
                &:hover{
                    filter: hue-rotate(120deg) brightness(250%);

                }
            }
            // .product-img-hover-icon{
            //     @include row;
            //     padding: 1rem;
            //     width: 10rem;
                // button{
                //     border: 0;
                //     // border-radius: 50%;
                //     outline: 0;
                //     background-color: rgba($color: $color-white, $alpha: 100);
                //     &::after{
                //         background-color: $color-blue;
                //     }

                // }
                // input{
                //     width: 2rem;
                //     &:hover{
                //         filter: hue-rotate(120deg) brightness(250%);

                //     }
                // }
                // img{
                //     padding: 0.3rem;
                //     &:hover{
                //         filter: hue-rotate(120deg) brightness(250%);
                //     }
                // }
            
            // }
            
            .product-info{
                @include column;
                width: 23vw;
                padding: 1rem;
                img{
                    width: 100%;
                    height: auto;
                }
                .product-text{
                    @include column;
                    padding: 1rem;
                    background-color: $color-primary;

                    span{
                        color: $color-blue;
                    }
                }
            }

        }
    }
}

#cart-list{
    width: 30vw;
    @include column;
    align-items: flex-end;
    float: right;
    padding: 1rem;
    background-color: $color-primary;
    .clear{
        padding-right: 0.5rem;
        color: $color-blue;
        &:hover{
            color: $color-primary-deep;
        }
    }
    .close{
        color: $color-blue;
        &:hover{
            color: $color-primary-deep;
        }
    }
    .cart-item{
        @include row;
        list-style: none;
        padding: 0.5rem;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .item-text{
            @include row;
            width: 20vw;
            flex-wrap: wrap;
            padding-left: 1rem;
            padding-bottom: 0.5rem;
            color: $color-blue;
        }
        

    }
}