@import "./value";
.shop-page{
    padding-top: 3rem;
    .shop-content{
        padding: 2rem;
        .shop-product{
            @include row;
            flex-wrap: wrap;
            .product-img-hover-icon{
                @include row;
                padding: 1rem;
                width: 10rem;
                button{
                    border: 0;
                    border-radius: 50%;
                    outline: 0;
                    background-color: rgba($color: $color-white, $alpha: 0);

                }
                img{
                    padding: 0.3rem;
                    &:hover{
                        filter: hue-rotate(120deg) brightness(250%);
                    }
                }
            
            }
            
            .product-info{
                @include column;
                width: 23vw;
                padding: 1rem;
                img{
                    width: 100%;
                    height: auto;
                }
                span{
                    color: $color-blue;
                    background-color: $color-primary;
                    padding: 0.5rem;
                }
            }

        }
    }
}